:root {
    --main-color: #a82d49;
    --main-color-light: rgba(168, 45, 73, 0.8);
    --main-color-dark: #43121d;
    --text-color: #777;
    --light-text-color: rgb(119, 119, 119, 0.1);
    --white-color: #fff;
    --black-color: #000;
    --gradient: linear-gradient(to right, rgba(168, 45, 73, 0.5), rgba(228, 77, 38, .05));
    --gray-gradient: linear-gradient(to right, rgba(240, 243, 245, 0.863), rgba(214, 225, 233, 0.63));

}

/* animations */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #a82d49, 0 0 0 0 #a82d49;
    }

    80% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0), 0 0 0 40px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 20 #a82d49, 0 0 0 40 #a82d49;
    }
}